#
# Default ntvld configuration file
#


[general]
logpath=/var/log/ntvl			# Path to log directory
logfile=ntvl.log				# General log file
runpath=/run/ntvl				#
allowfile=/etc/ntvl/ntvl.allow	# tcp_wrapper hosts.allow syntax file <== Use default host.allow? Security hole Risk!! 
denyfile=/etc/ntvl/ntvl.deny	# tcp_wrapper hosts.deny syntax file <== Use default host.allow? Security hole Risk!!
enable_supernode=0				# If this machine is going to serve as supernode
enable_tunnels=1				# Make tunnels at starup?
enable_ssh_tunnels=1			# If ssh is instaled 1=use ssh application level tunnel, uninstalled or 0=use layer 2 level unsecured tunnel


[supernode]
mport=1970				# Available local port for management
port=1971				# Available local port for listening

[node:1]
supernode=localhost		# Default supernode fqdn or IPv4
netname=localnet		# Virtualnetwork name
secret=unknown			# Secret word to acces the network
device=tap0				# Defined device name
network=172.17.0.0		# Subnet
netmask=255.255.255.0	# Network mask
address=dhcp			# dhcp | fixed IPv4 address
broadcast=172.17.0.255	# Broadcast address
gateway=172.17.0.1		# Virtual network gateway address


[tunnel:1]
local-port=2100			# Available local port
local-gateway=localhost	# Local hostname fqdn or IPv4
remote-port=2101		# Listening remote port
remote-gateway=			# Remote hostname fqdn or IPv4


